
section.biblioteca{
    text-align: center;
    padding: 1%;
}
section.formularios{
    display: table;
    border-spacing: 2em;
    width: 100%;
    vertical-align: middle;
}
img.logo{
    width: 300px;
    border-radius: 100px 20px;
    mix-blend-mode:lighten;
    position:absolute;
    z-index: 999;
    margin-top: 2%;
    align-self: center;
}
img.logo2{
    width: 300px;
    border-radius: 100px 20px;
    mix-blend-mode:lighten;
    position:absolute;
    z-index: 0;
    margin-top: 2%;
}

img.logoingame{
    width: 94%;
    height: 94%;
    border-radius: 100px 20px;
    mix-blend-mode:lighten;
}
img.imgjuego{
    width: 100%;
    border-radius: 100px 20px;
    margin-top: 5%;
}
@font-face {
    font-family:bicubik;
    src: url(../fonts/bicubik.otf);
}

.bloqueError{
    padding: 0.5%;
    width: 60%;
}
.bloqueErrorR{
    padding: 0.5%;
    width: 40%;
}
div.error{
    color: white;
    background-color: rgb(197, 67, 67);
    padding: 0.5%;
    text-align: center;
    border-radius: 5px;
}
input[type=text]:focus {
    border: 2px solid rgb(255, 255, 255);
    outline: #000000;
}
input[type=text].error:focus {
    border: 2px solid rgb(255, 0, 0);
    outline: #000000;
}
input[type=password].error:focus {
    border: 2px solid rgb(255, 0, 0);
    outline: #000000;
}
input[type=password].ok:focus {
    border: 2px solid rgb(90, 255, 57);
    outline: #000000;
}
.fa-times-circle{
    color: rgb(255, 57, 57);
    font-size:25px;
    margin-left: 2%;
}
.fa-check-circle{
    color: rgb(90, 255, 57);
    font-size:25px;
    margin-left: 2%;
}

div.requisitos{
    margin: auto;
    padding: 0%;
    padding-right: 20%;
    display: block;
    width: 60%;
    text-align: right;
    border-width: 0%;
}
input.registro, input.acceso{
    margin-bottom: 5%;
}
.juego{
    width: 300px;
    text-align: center;
    vertical-align: middle;
    height:17em;
    margin: 1%;
    cursor: pointer;
    z-index: 999;
}
div.juego a{
    color: rgb(211, 211, 211);
    font-family:bicubik;
    font-size: large;
    letter-spacing: 2px;
    text-decoration: none;
}

.descripcion{
    font-family:bicubik;
    font-size: large;
    letter-spacing: 2px;
    color: rgb(211, 211, 211);
    vertical-align: middle;
    padding: 1%;
    padding-top: 3%;
}

div.juego:hover {
transform: scale(1.05);
text-shadow: 0px 0px 4px #ffffff;
}

div.webgl-content{
    box-shadow: 0 0 80px #0b0c0e, 0 0 50px #0b0c0e , 0 0 50px #0b0c0e;
    background-color: #000000ab;
    color: white;
    border-radius: 60px;
}

.gris{
    color: #929292;
}

.superior{
    padding: 2%;
}
.rojo{
    color: rgb(129, 0, 0);
}
ul{
    list-style:none;
}